@font-face {
  font-family: "Fixel Display";
  /* src: url("../fonts/FixelDisplay/FixelDisplayThin/FixelDisplayThin.eot"); */
  /* src: url("../fonts/FixelDisplay/FixelDisplayThin/FixelDisplayThin.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelDisplay/FixelDisplay-Thin.woff2") format("woff2");
  /* url("../fonts/FixelDisplay/FixelDisplayThin/FixelDisplayThin.ttf") format("truetype"); */
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Fixel Display";
  /* src: url("../fonts/FixelDisplay/FixelDisplayExtraLight/FixelDisplayExtraLight.eot"); */
  /* src: url("../fonts/FixelDisplay/FixelDisplayExtraLight/FixelDisplayExtraLight.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelDisplay/FixelDisplay-ExtraLight.woff2") format("woff2");
  /* url("../fonts/FixelDisplay/FixelDisplayExtraLight/FixelDisplayExtraLight.ttf") format("truetype"); */
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Fixel Display";
  /* src: url("../fonts/FixelDisplay/FixelDisplayLight/FixelDisplayLight.eot"); */
  /* src: url("../fonts/FixelDisplay/FixelDisplayLight/FixelDisplayLight.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelDisplay/FixelDisplay-Light.woff2") format("woff2");
  /* url("../fonts/FixelDisplay/FixelDisplayLight/FixelDisplayLight.ttf") format("truetype"); */
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Fixel Display";
  /* src: url("../fonts/FixelDisplay/FixelDisplayRegular/FixelDisplayRegular.eot"); */
  /* src: url("../fonts/FixelDisplay/FixelDisplayRegular/FixelDisplayRegular.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelDisplay/FixelDisplay-Regular.woff2") format("woff2");
  /* url("../fonts/FixelDisplay/FixelDisplayRegular/FixelDisplayRegular.ttf") format("truetype"); */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Fixel Display";
  /* src: url("../fonts/FixelDisplay/FixelDisplayMedium/FixelDisplayMedium.eot"); */
  /* src: url("../fonts/FixelDisplay/FixelDisplayMedium/FixelDisplayMedium.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelDisplay/FixelDisplay-Medium.woff2") format("woff2");
  /* url("../fonts/FixelDisplay/FixelDisplayMedium/FixelDisplayMedium.ttf") format("truetype"); */
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Fixel Display";
  /* src: url("../fonts/FixelDisplay/FixelDisplaySemiBold/FixelDisplaySemiBold.eot"); */
  /* src: url("../fonts/FixelDisplay/FixelDisplaySemiBold/FixelDisplaySemiBold.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelDisplay/FixelDisplay-SemiBold.woff2") format("woff2");
  /* url("../fonts/FixelDisplay/FixelDisplaySemiBold/FixelDisplaySemiBold.ttf") format("truetype"); */
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Fixel Display";
  /* src: url("../fonts/FixelDisplay/FixelDisplayBold/FixelDisplayBold.eot"); */
  /* src: url("../fonts/FixelDisplay/FixelDisplayBold/FixelDisplayBold.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelDisplay/FixelDisplay-Bold.woff2") format("woff2");
  /* url("../fonts/FixelDisplay/FixelDisplayBold/FixelDisplayBold.ttf") format("truetype"); */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Fixel Display";
  /* src: url("../fonts/FixelDisplay/FixelDisplayExtraBold/FixelDisplayExtraBold.eot"); */
  /* src: url("../fonts/FixelDisplay/FixelDisplayExtraBold/FixelDisplayExtraBold.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelDisplay/FixelDisplay-ExtraBold.woff2") format("woff2");
  /* url("../fonts/FixelDisplay/FixelDisplayExtraBold/FixelDisplayExtraBold.ttf") format("truetype"); */
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Fixel Display";
  /* src: url("../fonts/FixelDisplay/FixelDisplayBlack/FixelDisplayBlack.eot"); */
  /* src: url("../fonts/FixelDisplay/FixelDisplayBlack/FixelDisplayBlack.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelDisplay/FixelDisplay-Black.woff2") format("woff2");
  /* url("../fonts/FixelDisplay/FixelDisplayBlack/FixelDisplayBlack.ttf") format("truetype"); */
  font-style: normal;
  font-weight: 1000;
}

/* -------- */

@font-face {
  font-family: "Fixel Text";
  /* src: url("../fonts/FixelText/FixelTextThin/FixelTextThin.eot"); */
  /* src: url("../fonts/FixelText/FixelTextThin/FixelTextThin.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelText/FixelText-Thin.woff2") format("woff2");
  /* url("../fonts/FixelText/FixelTextThin/FixelTextThin.ttf") format("truetype"); */
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Fixel Text";
  /* src: url("../fonts/FixelText/FixelTextExtraLight/FixelTextExtraLight.eot"); */
  /* src: url("../fonts/FixelText/FixelTextExtraLight/FixelTextExtraLight.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelText/FixelText-ExtraLight.woff2") format("woff2");
  /* url("../fonts/FixelText/FixelTextExtraLight/FixelTextExtraLight.ttf") format("truetype"); */
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Fixel Text";
  /* src: url("../fonts/FixelText/FixelTextLight/FixelTextLight.eot"); */
  /* src: url("../fonts/FixelText/FixelTextLight/FixelTextLight.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelText/FixelText-Light.woff2") format("woff2");
  /* url("../fonts/FixelText/FixelTextLight/FixelTextLight.ttf") format("truetype"); */
  font-style: normal;
  font-weight: 300;
}



@font-face {
  font-family: "Fixel Text";
  /* src: url("../fonts/FixelText/FixelTextRegular/FixelTextRegular.eot"); */
  /* src: url("../fonts/FixelText/FixelTextRegular/FixelTextRegular.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelText/FixelText-Regular.woff2") format("woff2");
  /* url("../fonts/FixelText/FixelTextRegular/FixelTextRegular.ttf") format("truetype"); */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fixel Text";
  src: url("../fonts/FixelText/FixelText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fixel Text";
  /* src: url("../fonts/FixelText/FixelTextSemiBold/FixelTextSemiBold.eot"); */
  /* src: url("../fonts/FixelText/FixelTextSemiBold/FixelTextSemiBold.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelText/FixelText-SemiBold.woff2") format("woff2");
  /* url("../fonts/FixelText/FixelTextSemiBold/FixelTextSemiBold.ttf") format("truetype"); */
  font-style: 600;
  font-weight: normal;
}

@font-face {
  font-family: "Fixel Text";
  /* src: url("../fonts/FixelText/FixelTextBold/FixelTextBold.eot"); */
  /* src: url("../fonts/FixelText/FixelTextBold/FixelTextBold.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelText/FixelText-Bold.woff2") format("woff2");
  /* url("../fonts/FixelText/FixelTextBold/FixelTextBold.ttf") format("truetype"); */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Fixel Text";
  /* src: url("../fonts/FixelText/FixelTextExtraBold/FixelTextExtraBold.eot"); */
  /* src: url("../fonts/FixelText/FixelTextExtraBold/FixelTextExtraBold.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelText/FixelText-ExtraBold.woff2") format("woff2");
  /* url("../fonts/FixelText/FixelTextExtraBold/FixelTextExtraBold.ttf") format("truetype"); */
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Fixel Text";
  /* src: url("../fonts/FixelText/FixelTextBlack/FixelTextBlack.eot"); */
  /* src: url("../fonts/FixelText/FixelTextBlack/FixelTextBlack.eot?#iefix")format("embedded-opentype"), */
  src: url("../fonts/FixelText/FixelText-Black.woff2") format("woff2");
  /* url("../fonts/FixelText/FixelTextBlack/FixelTextBlack.ttf") format("truetype"); */
  font-weight: 1000;
  font-style: normal;
}


* {
  border-radius: 3rem;
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.full-height {
  height: 100%;
}

body {
  font-family: "Fixel Text", sans-serif;
  background-color: #F3F2EE;
  max-width: 100%;
  overflow-x: hidden;
}
section {
  height: 100vh;
  width: auto;
  padding: 0 2rem;
  margin: 0;
  overflow: hidden;
}



h1 {
  font-family: "Fixel Display", sans-serif;
  font-size: 4rem;
  font-weight: 600;
}

/* section.presenting {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 32px 64px; */
  /* box-sizing: border-box;
  grid-template-areas:
    "navbar image"
    "article image"
  ;
} */


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 100%;
}

section.presenting.flex-row>.flex-col {
  flex-grow: 1;
}

section.presenting {
  padding-left: 4rem;
  padding-right: 1rem;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  font-size: 14px;
  width: 100%;
  margin-top: 4rem;
}


.img-logo {
  height: 32px;
  margin-right: auto;

}

.nav-link {
  text-decoration: none;
  color: #6b6b6b;
  font-weight: 400;
}

.nav-link:hover {
  color: #2f2f2f;
}


article.article {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  font-size: 18px;
}

.right-picture {
  flex-shrink: 1;
  display: flex;
  justify-content: flex-end;
}

.presenting-image {
  height: 60rem;
  object-fit: contain;
  position: relative;
  bottom: 5rem;
  transform: translateY(-5%);
}

.presenting-text {
  font-size: 1.5rem;
  font-weight: 300;
}

.presenting-button {
  background-color: #45694E;
  color: #FFFFFFFF;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
  border-radius: 5rem;
  max-width: 25rem;
}


/*=====================Problems=====================*/

h2 {
  font-family: "Fixel Display", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

section.problems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #909E7A;
  color: #FFFFFFFF;
  /* overflow-y: hidden; */

  padding: 4rem 8rem;
}

.problems-grid-col-2 {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  height: 100%;
}

.problems-problem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  color: #33321E;
  background-color: #FFFFFFFF;
  padding: 2rem
}

h3.problems-subheader {
  text-align: left;
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  color: #33321E;
  display: flex;
  margin: 0;
}
h3.problems-subheader svg {
  height: 3rem;
  margin-right: 0.5rem;
}

#midsection-image {
  height: 20rem;
  object-fit: contain;
  position: absolute;
  top: 200vh;
  left: 90vw;
  padding: 0;
  margin-left: auto;
  /* transform: translateX(); */
}

p.problems-text {
  font-size: 1.5rem;
  font-weight: 300;
}



/*=====================How it works===================== */
section.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: white;
  padding: 4rem 8rem;
  width: 100%;
}

section.how-it-works * {
  width: 100%;
}

h3.how-subheader {
  font-size: 2rem;
  font-weight: 600;
  color: #45694E;
}


ol.how-steps {
  list-style: none;
  counter-reset: item;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 2rem;

}

li.how-step {
  counter-increment: item;
  box-sizing: border-box;
  padding: 1rem;
  color: #33321E;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #FFFFFFFF;
  list-style-position: inside;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

li.how-step::before {
  content: counter(item);
  color: #FFFFFFFF;
  background-color: #45694E;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0.5rem 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

video.how-it-works-video {
  /* transform: translateX(10); */
}


/*=====================Features===================== */

section.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #EBE3DE;
  padding: 4rem 8rem;
}

grid.features-grid-col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.features-feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  color: #3B5941;
  background-color: #FFFFFFFF;
  padding: 2rem;
}

h3.features-subheader {
  text-align: left;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
}
h3.features-subheader svg {
  height: 5rem;
  width: auto;
  margin-left: 0.5rem;
  transform: translateY(-1rem);
}

p.features-text {
  text-align: left;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 300;
  color: #000000;
}

/*=====================Application===================== */

section.application {
  background-color: white;
  padding: 2rem 4rem;
}

section.application > .flex-row {
  justify-content: space-between;
}

section.application > .flex-row > .flex-col {
  flex: 1;
  margin-right: 2rem;
  height: 100%;
  width: 100%;
  padding-left: 5rem;
}

section.application > .flex-row > .flex-col:last-child {
  margin-right: 0;
}

ol.application-list {
  list-style: none;
  counter-reset: item;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-right: 1rem;
}

li.application-item {
  counter-increment: item;
  box-sizing: border-box;
  padding: 0.5rem;
  color: #33321E;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #FFFFFFFF;
  list-style-position: inside;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

li.application-item::before {
  content: counter(item);
  color: #FFFFFFFF;
  background-color: #45694E;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 1rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0; /* Prevents the circle from shrinking */
}

h3.application-subheader {
  font-size: 1.5rem;
  font-weight: 600;
  color: #45694E;
  width: 100%;
  margin: 0 0 0.25rem 0;
}
ol.application-list>li>p.application-text {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
}

video.application-video {
  flex-shrink: 1;
  width: 100%;
}


/*=====================Packaging===================== */

section.packaging {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  background-color: #909E7A;
  padding: 4rem 8rem;
  color: #FFFFFFFF;
  height: 100%;
}

.packaging-header {
  align-self: flex-start;
}

h3.packaging-subheader {
  text-align: left;
  width: 100%;
  font-size: 1.75rem;
  font-weight: 600;
}

.packaging-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 16rem 16rem;
  gap: 1rem;
  width: 100%;
}

.packaging-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #FFFFFFFF;
  color: #45694E;
  border-radius: 1.25rem;
  padding: 1.25rem;
  overflow: hidden;
  min-height: 0;
}

.packaging-item--large {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.packaging-item > img {
  width: 100%;
  object-fit: contain;
  flex: 1;
  min-height: 0;
}

.packaging-subheader {
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
  font-weight: 600;
  flex-shrink: 0;
}

#leaf-left-packaging {
  position: absolute;
  top: 625vh;
  transform: translateX(-50%);
}

/*=====================Feedback===================== */

section.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #F3F2EE;
  padding: 4rem 8rem;
  height: 75vh;
}

section.feedback>.flex-row {
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

article.feedback-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #FFFFFFFF;
  border-radius: 1.25rem;
  padding: 1.25rem;
  overflow: hidden;
  min-height: 0;
}

.feedback-author-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #45694E;
  border-radius: 1.25rem;
  overflow: hidden;
  min-height: 0;
  width: 100%;
  font-size: 1.5rem;
  margin: 0;
}

.feedback-author-container>img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}